mixin listItems(elem, link, title)
  li(class= elem + '__item')
    a(class= elem + '__link' href= link)
      | #{title}

mixin productsItem(category, srcImg, alt, nameProduct, priceProduct)
  article.products-card
    header.products-card__header
      p.products-card__category= category
    a.products-card__link(href='#')
      img.products-card__img(src='./css/img/pr_' + srcImg + '.png', alt=alt)
      h3.products-card__name= nameProduct
    footer.products-card__footer
      span.products-card__price= '$ ' + priceProduct

mixin viewProduct(srcImg, alt, nameProduct, priceProduct)
  article.products-card.view-products-card
    a.view-products-card__link(href='#')
      .view-products-card__img-wrapper
        img.view-products-card__img(src='./css/img/pr_' + srcImg + '.png', alt=alt)
      .view-products-card__inner-text
        h3.view-products-card__name= nameProduct
        span.view-products-card__price= '$ ' + priceProduct


//- mixin person(name, position, about, src, alt)
//-   li.person__item
//-     img.person__art(src=src, alt=alt)
//-     p.person__name= name
//-     p.person__position= position
//-     p.person__about= about

//- mixin section
//-   section&attributes(attributes)
//-     include menu.pug
//-     include social.pug
//-     div(class!=attributes.class + '__container')
//-       block
